*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #fffaf2
}

.modal-title {
    color : black;
    padding : 14px;
}

.modal-body{
    border-radius: 12px;
}

.fade{
    background:  transparent;
}

.modal-dialog{
    background:  transparent;
    margin-left: auto;
    margin-right: auto;
}




.button{
    background: linear-gradient(rgb(254, 153, 59) 0%, rgb(255, 200, 93) 100%);
    color: white;
}

.span{
    font-weight: 800;
    color: black;
    padding-left: 10px;
}

.imghover :hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out 0s;
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-end {
    justify-content: end;
}

.justify-center{
    justify-content: center;
}

.justify-between {
    justify-content:space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.hide-url {
    display: none;
}

.w-100 {
    width: 100%;
}

.h-100{
    height: 100%;
}

.side_bar{
    display: none;
}

