*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.button{
    background: linear-gradient(rgb(254, 153, 59) 0%, rgb(255, 200, 93) 100%);
    color: white;
}

.span{
    font-weight: 800;
    color: black;
    padding-left: 10px;
}

.imghover :hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out 0s;
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between {
    justify-content:space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}